<!DOCTYPE html>
<html>
	<head>
		{{ template "head.html" }}
		<script type="module" src="/static/js/createLabel.js" defer></script>
		<title>Generowanie etykiety - Szybkie paczki</title>
	</head>
	<body>
		{{ template "header.html" }}
		<main class="create-label">
			<h2>Generowanie etykiety</h2>
			{{if .Error}}
			<p class="alert">{{.Error.Error}}</p>
			{{end}}
			<form id="createLabelForm" method="POST">
				<ul>
					<li>
						<label class="input-name" for="recipient">Nazwa adresata</label>
						<input required type="text" id="recipient" name="recipient" maxlength="100" />
					</li>
					<li>
						<label class="input-name" for="locker">Identyfikator docelowej skrytki</label>
						<input required type="text" id="locker" name="locker" pattern="[A-Z0-9]{9}" />
					</li>
					<li>
						<label class="input-name" for="size">Rozmiar paczki (w dm<sup>3</sup>)</label>
						<input required type="number" id="size" name="size" min="1" max="8000" />
					</li>
					<li class="submit-button-container">
						<button class="regular-action" type="submit" name="submitButton" id="submitButton">
							Wygeneruj
						</button>
					</li>
				</ul>
			</form>
		</main>
		{{ template "footer.html" }}
	</body>
</html>
