<!DOCTYPE html>
<html>
	<head>
		{{ template "head.html" }}
		<script type="module" src="/static/js/loginSender.js" defer></script>
		<title>Logowanie przewoźnika - Szybkie paczki</title>
	</head>
	<body>
		{{ template "header.html" }}
		<main class="dashboard">
            <h2>Etykiety paczek</h2>
            <ul>
                <li>Etykieta 1</li>
                <li>Etykieta 2</li>
                <li>Etykieta 3</li>
            </ul>
		</main>
		{{ template "footer.html" }}
	</body>
</html>
