<!DOCTYPE html>
<html>
	<head>
		{{ template "head.html" }}
		<title>Etykiety paczek - Szybkie paczki</title>
	</head>
	<body>
		{{ template "header.html" }}
		<main class="dashboard">
			<h2>Etykiety paczek</h2>
			<a class="regular-action" href="./labels/create">Generowanie etykiety</a>
			{{ if .Labels }}
			<ul class="labels-list">
				{{ range .Labels }}
				<li>
					<h3>Etykieta</h3>
					<ul class="label-details">
						<li>
							<h4>Adresat</h4>
							<p>{{ .Recipient }}</p>
						</li>
						<li>
							<h4>Identyfikator skrytki</h4>
							<p>{{ .Locker }}</p>
						</li>
						<li>
							<h4>Rozmiar</h4>
							<p>{{ .Size }}</p>
						</li>
						<li>
							<form
								class="removeLabelForm"
								method="POST"
								action="/sender/labels/{{ .ID }}/remove"
							>
								<button type="submit" class="regular-action">Usuń</button>
							</form>
						</li>
					</ul>
				</li>
				{{ end }}
			</ul>
			{{ else }}
			<p class="labels-info">Nie utworzyłeś jeszcze żadnych etykiet.</p>
			{{ end }}
		</main>
		{{ template "footer.html" }}
	</body>
</html>
