<!DOCTYPE html>
<html>
	<head>
		{{ template "head.html" }}
		<title>Etykiety paczek - Szybkie paczki</title>
	</head>
	<body>
		{{ template "header.html" }}
		<main class="dashboard">
            <h2>Etykiety paczek</h2>
			<a class="regular-action" href="./labels/create">Generowanie etykiety</a>
            <ul>
                <li>Etykieta 1</li>
                <li>Etykieta 2</li>
                <li>Etykieta 3</li>
            </ul>
		</main>
		{{ template "footer.html" }}
	</body>
</html>
