<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/main.css">
        <script src="/static/main.js" defer></script>
    </head>
    <body>
        {{ template "header.html" }}
        <main class="home">
            <img src="/static/img/undraw_heavy_box_agqi.svg" alt="Heavy box">
            <section>
                <h2>Tytuł jakiś</h2>
                <p>Dłuższy opis firmy dostawczej</p>
                <a href="./sender/sign-up">Zarejestruj</a>
            </section>
        </main>
        {{ template "footer.html" }}
    </body>
</html>