<!DOCTYPE html>
<html>
	<head>
		{{ template "head.html" }}
		<title>Szybkie paczki</title>
	</head>
	<body>
		{{ template "header.html" }}
		<main class="home">
			<img src="/static/img/undraw_heavy_box_agqi.svg" alt="Heavy box" />
			<section>
				<h2>Niezawodna i szybka obsługa przewozów paczek</h2>
				<p>
					Tanio dostarczamy paczki w każde miejsce. Zarejestruj się już dzisiaj, aby uzyskać dostęp
					do bogatej funkcjonalności naszego nowego systemu.
				</p>
				<a class="regular-action" href="./sender/register">Zarejestruj</a>
			</section>
		</main>
		{{ template "footer.html" }}
	</body>
</html>
