<!DOCTYPE html>
<html>
	<head>
		{{ template "head.html" }}
		<script type="module" src="/static/js/signUpSender.js" defer></script>
		<title>Rejestracja przewoźnika - Szybkie paczki</title>
	</head>
	<body>
		{{ template "header.html" }}
		<main class="sign-up">
			<h2>Rejestracja przewoźnika</h2>
			{{if .Error}}
			<p class="alert">{{.Error.Error}}</p>
			{{end}}
			<form
				id="signUpForm"
				method="POST"
			>
				<ul>
					<li>
						<label class="input-name" for="firstname">Imię</label>
						<input
							required
							type="text"
							id="firstname"
							name="firstname"
							pattern="[A-ZĄĆĘŁŃÓŚŹŻ][a-ząćęłńóśźż]+"
						/>
					</li>
					<li>
						<label class="input-name" for="lastname">Nazwisko</label>
						<input
							required
							type="text"
							id="lastname"
							name="lastname"
							pattern="[A-ZĄĆĘŁŃÓŚŹŻ][a-ząćęłńóśźż]+"
						/>
					</li>
					<li>
						<label class="input-name" for="login">Nazwa użytkownika</label>
						<input required type="text" id="login" name="login" pattern="[a-z]{3,12}" />
					</li>
					<li>
						<label class="input-name" for="firstname">E-mail</label>
						<input required type="email" id="email" name="email" />
					</li>
					<li>
						<label class="input-name" for="password">Hasło</label>
						<input required type="password" id="password" name="password" pattern=".{8,}" />
					</li>
					<li>
						<label class="input-name" for="passwordConfirmation">Potwierdź hasło</label>
						<input required type="password" id="passwordConfirmation" pattern=".{8,}" />
					</li>
					<li>
						<label class="input-name" for="lastname">Adres</label>
						<input required type="text" id="address" name="address" maxlength="200"/>
					</li>
					<li class="submit-button-container">
						<button class="regular-action" type="submit" name="submitButton" id="submitButton">
							Zarejestruj
						</button>
					</li>
				</ul>
			</form>
		</main>
		{{ template "footer.html" }}
	</body>
</html>
